# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas
import numpy

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [4]:
cars1_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv'
cars2_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv'
    
cars1 = pandas.read_csv(cars1_url)
cars2 = pandas.read_csv(cars2_url)

AttributeError: 'DataFrame' object has no attribute 'isblank'

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [6]:
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500,NaN,NaN,NaN,NaN,NaN
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala,NaN,NaN,NaN,NaN,NaN
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii,NaN,NaN,NaN,NaN,NaN
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina,NaN,NaN,NaN,NaN,NaN
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl,NaN,NaN,NaN,NaN,NaN
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se,NaN,NaN,NaN,NaN,NaN
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340,NaN,NaN,NaN,NaN,NaN
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo,NaN,NaN,NaN,NaN,NaN
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw),NaN,NaN,NaN,NaN,NaN
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii,NaN,NaN,NaN,NaN,NaN
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster,NaN,NaN,NaN,NaN,NaN
16,18.0,6,199,97,2774,15.5,70,1,amc hornet,NaN,NaN,NaN,NaN,NaN
17,21.0,6,200,85,2587,16.0,70,1,ford maverick,NaN,NaN,NaN,NaN,NaN
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510,NaN,NaN,NaN,NaN,NaN
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan,NaN,NaN,NaN,NaN,NaN
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504,NaN,NaN,NaN,NaN,NaN
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls,NaN,NaN,NaN,NaN,NaN
22,25.0,4,104,95,2375,17.5,70,2,saab 99e,NaN,NaN,NaN,NaN,NaN
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002,NaN,NaN,NaN,NaN,NaN
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin,NaN,NaN,NaN,NaN,NaN
25,10.0,8,360,215,4615,14.0,70,1,ford f250,NaN,NaN,NaN,NaN,NaN
26,10.0,8,307,200,4376,15.0,70,1,chevy c20,NaN,NaN,NaN,NaN,NaN
27,11.0,8,318,210,4382,13.5,70,1,dodge d200,NaN,NaN,NaN,NaN,NaN
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d,NaN,NaN,NaN,NaN,NaN
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,23.0,4,140,83,2639,17.0,75,1,ford pinto,NaN,NaN,NaN,NaN,NaN
169,20.0,6,232,100,2914,16.0,75,1,amc gremlin,NaN,NaN,NaN,NaN,NaN
170,23.0,4,140,78,2592,18.5,75,1,pontiac astro,NaN,NaN,NaN,NaN,NaN
171,24.0,4,134,96,2702,13.5,75,3,toyota corona,NaN,NaN,NaN,NaN,NaN
172,25.0,4,90,71,2223,16.5,75,2,volkswagen dasher,NaN,NaN,NaN,NaN,NaN
173,24.0,4,119,97,2545,17.0,75,3,datsun 710,NaN,NaN,NaN,NaN,NaN
174,18.0,6,171,97,2984,14.5,75,1,ford pinto,NaN,NaN,NaN,NaN,NaN
175,29.0,4,90,70,1937,14.0,75,2,volkswagen rabbit,NaN,NaN,NaN,NaN,NaN
176,19.0,6,232,90,3211,17.0,75,1,amc pacer,NaN,NaN,NaN,NaN,NaN
177,23.0,4,115,95,2694,15.0,75,2,audi 100ls,NaN,NaN,NaN,NaN,NaN
178,23.0,4,120,88,2957,17.0,75,2,peugeot 504,NaN,NaN,NaN,NaN,NaN
179,22.0,4,121,98,2945,14.5,75,2,volvo 244dl,NaN,NaN,NaN,NaN,NaN
180,25.0,4,121,115,2671,13.5,75,2,saab 99le,NaN,NaN,NaN,NaN,NaN
181,33.0,4,91,53,1795,17.5,75,3,honda civic cvcc,NaN,NaN,NaN,NaN,NaN
182,28.0,4,107,86,2464,15.5,76,2,fiat 131,NaN,NaN,NaN,NaN,NaN
183,25.0,4,116,81,2220,16.9,76,2,opel 1900,NaN,NaN,NaN,NaN,NaN
184,25.0,4,140,92,2572,14.9,76,1,capri ii,NaN,NaN,NaN,NaN,NaN
185,26.0,4,98,79,2255,17.7,76,1,dodge colt,NaN,NaN,NaN,NaN,NaN
186,27.0,4,101,83,2202,15.3,76,2,renault 12tl,NaN,NaN,NaN,NaN,NaN
187,17.5,8,305,140,4215,13.0,76,1,chevrolet chevelle malibu classic,NaN,NaN,NaN,NaN,NaN
188,16.0,8,318,150,4190,13.0,76,1,dodge coronet brougham,NaN,NaN,NaN,NaN,NaN
189,15.5,8,304,120,3962,13.9,76,1,amc matador,NaN,NaN,NaN,NaN,NaN
190,14.5,8,351,152,4215,12.8,76,1,ford gran torino,NaN,NaN,NaN,NaN,NaN
191,22.0,6,225,100,3233,15.4,76,1,plymouth valiant,NaN,NaN,NaN,NaN,NaN
192,22.0,6,250,105,3353,14.5,76,1,chevrolet nova,NaN,NaN,NaN,NaN,NaN
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

### Step 5. What is the number of observations in each dataset?

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

### Step 8. Add the column owners to cars